.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Header {
    background-color: hotpink;
}

.Footer {
    background-color: brown;
}

.App-Content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.App-LeftSidebar {
    min-width: 20vh;
}

.App-RightSidebar {
    min-width: 20vh;
}

.App-Tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.App-Tabs .tabs {
    margin-bottom: 0 !important;
}

.App-Tab {
    flex: 1;
}

.App-PassiveSkillTree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}